{% extends 'story_5/base.html' %}
{% block content %}
{% include 'story_5/navbar.html' %}
<div class="container my-4">
  {% if messages %}
	{% for message in messages %}
		<div class="alert alert-warning alert-dismissible fade show mt-4" role="alert">
			{{ message }}
			<button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	{% endfor %}
	{% endif %}
  {% for course in courses %} 
    <div class="card mt-3">
      <div class="card-body d-flex justify-content-between flex-column flex-md-row">
          <div>
              <a href="{% url 'detail' course.id %}"><h5 class="card-title">{{ course.name }}</h5></a>
              <h6 class="card-subtitle mb-2 text-muted">{{ course.term }} {{ course.year }}</h6>
          </div>
          <a href="{% url 'delete' course.id %}" class="card-link text-danger mt-3 mt-md-0 mr-md-4 align-self-center">DELETE</a>
      </div>
    </div>
  {% endfor %}

</div>
{% endblock content %}